# Production dependencies only
cryptography>=45.0.7
aiohttp>=3.13.3
homeassistant>=2025.12.0
requests>=2.32.5

# Dyson communication libraries
libdyson-rest==0.11.0

# Cloud MQTT communication
paho-mqtt[websockets]>=2.1.0

# Network discovery support

zeroconf>=0.148.0

